body.quiz-body {
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
}

.quiz-title {
    text-align: center;
    margin-bottom: 30px;
    color: #2c3e50;
    font-weight: 600;
    font-size: 2em;
}

.quiz-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.quiz-label {
    font-size: 1.2em;
    color: #7f8c8d;
    margin-bottom: 5px;
}

.quiz-input {
    padding: 10px;
    border: none;
    border-radius: 5px;  
    border: 1px solid #bdc3c7;
    font-size: 1em;
}

.quiz-submit {
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    transition: 0.3s ease;
    align-self: center;
    font-size: 1.2em;
}

.quiz-submit:hover {
    background-color: #2ecc71; 
}

#thankyou {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transform: translate(-50%, -50%);
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

/*@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}*/


#thankyou.show {
    opacity: 1;
}

#continue-btn {
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    transition: 0.3s ease;
    font-size: 1.2em;
    align-items: center;
    display: flex;
}

#continue-btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}


#continue-btn:hover {
    background-color: #2ecc71; 
}

.hidden {
    display: none;
}

#thankyou h2 {
    font-size: 2em;
    color: #2c3e50;
    font-weight: 600;
    text-align: center;
}

#thankyou p {
    font-size: 1.2em;
    color: #7f8c8d;
    text-align: center;
    margin-bottom: 15px;
}

/*#thankyou .continue-btn {
    padding: 10px 50px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    transition: 0.3s ease;
    align-self: center;
    font-size: 1.2em;
    display: block;
    margin: 0 auto;
}

    

#thankyou .continue-btn:hover {
    background-color: #2ecc71;
}*/

.hide {
    display: none;
}

.show {
    opacity: 1;
    animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
